body,
.email-container { background-color: $background-color; padding: 0; margin: 0; font: $body-font; color: $body-font-color;-webkit-text-size-adjust: none; -ms-text-size-adjust: none; -moz-text-size-adjust: none; text-size-adjust: none;  }
.email-container { width: 670px; margin: 36px auto; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; -moz-text-size-adjust: none; text-size-adjust: none; }
img { border: none; max-width: 100%; height: auto; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-family: $font-bold; text-transform: uppercase; color: #404040; }
p { margin: 0 0 15px 0; padding: 0; }
b, strong { color: #404040; }
a { text-decoration: none; color: blue;}

table { border: none; border-spacing: 0; border-collapse: collapse; width: 100%; margin: 0; padding: 0;
    thead,
    tbody,
    tfoot { background-color: transparent; }
    thead {
        tr {
            th { font: normal 14px/24px $font-bold; padding: 6px 0; text-align: center; color: #404040; text-transform: uppercase; border: none; border-top: 1px solid #999; border-bottom: 1px solid #999; vertical-align: top; }
        }
    }
    tr {
        td { border: none; vertical-align: top; margin: 0; padding: 0;
            &.footer { padding: 20px 0; border-top: 1px solid #dfdfdf; font-size: 12px; line-height: 18px; color: #999; text-align: center; }
        }
    }
}
