p.your-order { font-size: 16px; }

.order-container .col2-set { border-top: 1px solid #999;
    .col-1 ,
    .col-2 { margin: 0 0 20px 0; }

    table tr th { border: none; padding: 0; text-align: left; font-weight: normal; color: #404040; }
    b, strong { font-weight: normal; }
    p { margin: 0; }
}

table.order-data {
    thead tr th {
        font: bold 14px/34px $font-bold; text-transform: uppercase; padding: 0; border: none; border-bottom: 1px solid #999; border-top: 1px solid #999; text-align: center;
        &.first { text-align: left; }
        &.last { text-align: right; }
    }
    tr {
        td {
            border-bottom: 1px solid #e4e4e4; padding: 20px 0 14px 0; color: #666; font-size: 14px; line-height: 18px; text-align: center;
            p { margin: 0; }
            dl, dt, dd { display: block; margin: 0; padding: 0; }
            b, strong { font: normal 14px/18px $font-regular; }
            &.first { text-align: left; }
            &.last { text-align: right; padding-right: 12px; }
        }
    }
    .product-image { float: left; width: 65px;
        img { width: 100%; height: auto; display: block; }
    }
    .product-desc { display: block; margin: 0 0 0 80px;
        > h3 { margin: 0 0 5px 0; font: normal 16px/22px $font-regular; color: #404040; }
    }

}

table.order-totals { border: none; margin: 0 0 30px 0;
    > tbody > tr > td,
    > tr > td { padding: 14px 0; background: #f8f8f8; border-top: 10px solid #fff; }
    table tr td { text-align: right; line-height: 22px; color: #404040; border: none; background: #f8f8f8; padding-right: 12px; }
    table tr.first td { padding-top: 14px; }
    table tr.last td { padding-bottom: 14px; }
    strong, b { display: block; font-size: 16px; text-transform: uppercase; padding: 8px 0 0 0; }
}

//Tracking Order

.tracking-content { display: block; padding: 20px; background: #f3f3f3; color: #666; line-height: 24px; margin: 0 0 15px 0;
    b,strong { color: #666;font-size: 14px; line-height: 24px;}
    a { color: #666; text-decoration: underline;}
}