$body-font: normal 14px/22px Helvetica Neue,Helvetica,Arial,sans-serif;
$body-font-color: #666;
$background-color: #fff;
$highlight-color: #F47526;
$highlight-contrast-color: white;

$font-path: "fontspathdonotremove"; //Don't remove & change
$images-path: "imagespathdonotremove"; //Don't remove & change

@mixin font-face($fontname: fontFamilyName, $fontsrc: fontFileSrc) {
    @font-face {
        font-family: quote($fontname);
        src:  url('#{unquote($fontsrc)}.eot');
        src:  url('#{unquote($fontsrc)}.eot?#iefix')                         format('embedded-opentype'),
        url('#{unquote($fontsrc)}.woff')                                        format('woff'),
        url('#{unquote($fontsrc)}.ttf')                                           format('truetype'),
        url('#{unquote($fontsrc)}.svg##{unquote($fontname)}')       format('svg');
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
    }
}

@include font-face("centurygothic",             "#{unquote($font-path)}centurygothic-webfont");
@include font-face("centurygothicbold",       "#{unquote($font-path)}centurygothicbold-webfont");

$font-regular : "centurygothic",Helvetica Neue,Helvetica,Arial,sans-serif;
$font-bold : "centurygothicbold",Helvetica Neue,Helvetica,Arial,sans-serif;
