@font-face {
  font-family: "centurygothic";
  src: url("fontspathdonotremovecenturygothic-webfont.eot");
  src: url("fontspathdonotremovecenturygothic-webfont.eot?#iefix") format("embedded-opentype"), url("fontspathdonotremovecenturygothic-webfont.woff") format("woff"), url("fontspathdonotremovecenturygothic-webfont.ttf") format("truetype"), url("fontspathdonotremovecenturygothic-webfont.svg#centurygothic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "centurygothicbold";
  src: url("fontspathdonotremovecenturygothicbold-webfont.eot");
  src: url("fontspathdonotremovecenturygothicbold-webfont.eot?#iefix") format("embedded-opentype"), url("fontspathdonotremovecenturygothicbold-webfont.woff") format("woff"), url("fontspathdonotremovecenturygothicbold-webfont.ttf") format("truetype"), url("fontspathdonotremovecenturygothicbold-webfont.svg#centurygothicbold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

body,
.email-container {
  background-color: white;
  padding: 0;
  margin: 0;
  font: normal 14px/22px Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #666666;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

.email-container {
  width: 670px;
  margin: 36px auto;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "centurygothicbold", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #404040;
}

p {
  margin: 0 0 15px 0;
  padding: 0;
}

b, strong {
  color: #404040;
}

a {
  text-decoration: none;
  color: blue;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  padding: 0;
}
table thead,
table tbody,
table tfoot {
  background-color: transparent;
}
table thead tr th {
  font: normal 14px/24px "centurygothicbold", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 6px 0;
  text-align: center;
  color: #404040;
  text-transform: uppercase;
  border: none;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  vertical-align: top;
}
table tr td {
  border: none;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
table tr td.footer {
  padding: 20px 0;
  border-top: 1px solid #dfdfdf;
  font-size: 12px;
  line-height: 18px;
  color: #999;
  text-align: center;
}
